@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make root full viewport and disable scrolling */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* <--- removes all page scrolling */
}

/* Page background + font */
body {
  font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background: linear-gradient(180deg,#00fffb22,#2505a222);
}

/* Animation delay utilities */
.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

/* smooth transitions */
* {
  @apply transition-all duration-300;
}
